@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-esqueleto: #EFF3F5;
}

.container__all {
    position: relative;
    right: 0;
    transition: all 300ms;
}


/****************COMIENZO HEADER************/
header {
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
    background-color: #f5f5f5;
}


.move_content {
    right: 180px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
}

.container__nav {
    position: relative;
    height: 100%;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0px 20px;
    list-style: none;
}

nav ul li a {
    color: #373737;
    font-size: 14px;
}

.select {
    background: #359EF9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.nav_mod {
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.btn__menu {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover {
    background: #f5f5f5;
}

/*COVER*/

.cover {
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container__cover {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    background-image: url(../images/background-cover.svg);
    background-size: cover;
    background-position: bottom;
}

.cover .container__info {
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1 {
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2 {
    font-size: 60px;
    font-weight: 900;
    color: #359EF9;
    margin-top: -30px;
}

.cover p {
    margin-top: 10px;
    color: #373737;
}

.cover input[type="button"] {
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #359EF9;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover {
    box-shadow: 1px 1px 30px -5px #20202085;
}


.container__vector {
    position: relative;
}

.container__vector img {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 600px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}

@keyframes move_vector {
    0% {
        transform: translateY(10px);
    }

    25% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px) {
    .container__vector img {
        width: 500px;
    }
}


@media screen and (max-width: 760px) {
    .container__all {
        position: absolute;
        padding: 0 0 40px;
        right: 130px;
        transition: all 300ms;
        
  
    }
    .container__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu {
        display: flex;
    }

    nav {
        height: 100%;
        background: #F1FAFF;
        position: fixed;
        top: 0;
        right: -0px;
        padding: 0 25px;
        transition: all 300ms;
    }

    .move_nav { 
        right: 0px;
    }

    nav ul {
        align-items: center;
        flex-direction: column;
    }

    nav ul li {
        
        margin: 20px -25px;
    }

    .container__vector img {
        transform: scale(0);
        animation: none;
    }
}


.whatsapp img {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    margin-top: 13px;
}

/*INICIO SERVICIOS*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}

.title-cards-services {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}

.title-cards-plans {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 10px;
  text-align: center;
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }

  .card {
    margin: 15px;
  }
}


/*Fin SERVICIOS*/



/*AQUI COMIENZA EL FOOTER*/

footer {
    width: 100%;
    padding: 50px 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-esqueleto);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 300;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2 {
    margin-bottom: 30px;
    color: #242424;
    font-weight: 400;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/***************FIN DEL FOOTER**************/


/***************INICIO PLANES**************/

.contenedor{
    width: 90%;
    max-width:1200px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 200px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.tabla{
    width: 33%;
    max-width: 350px;
    height: auto;
    margin: 20px;
    border:1px solid #359df938;
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px  #359df917;
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    color: #359EF9;
}

.tabla h2{
    font-size:30px;
    margin-bottom:35px;
    font-family: 'Poppins', sans-serif;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla  h3{
    font-size:30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.tabla  p{
    display: block;
    margin-bottom:50px;
    font-family: 'Poppins', sans-serif;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #7a7a7a4d;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #359EF9;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 80%;
        padding:30px;
        margin: 10px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 100%;
        padding: 20px;
        margin: 10px 0;
    }
}

/***************INICIO FORM**************/


.container-form{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 200px 100px;
    font-family: 'Poppins', sans-serif;
}

.container-form:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../images/background-cover.svg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
    font-family: 'Poppins', sans-serif;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    font-family: 'Poppins', sans-serif;
}

.left{
	background: url("../images/contact/contact-us.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #7a7a7a;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #359df9;
    font-family: 'Poppins', sans-serif;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    font-family: 'Poppins', sans-serif;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.100);
    font-family: 'Poppins', sans-serif;
}

textarea{
	min-height: 150px;
    font-family: 'Poppins', sans-serif;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #359df9;
	color: #fff;
	font-size: 110%;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    font-family: 'Poppins', sans-serif;
}

.btn:hover{
    background-color: #359df98a;
}

.field:focus{
    border: 2px solid #359df9b2;
    background-color: #fff;

}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
/***************CIERRE FORM**************/


/***************INICIA BLOG NOVEDADES**************/

.blog-post{
    max-width: 1240px;
    height: auto;
    display: grid;
    gap: 28px;
}

.card-image img{
    width: 100%;
}

@media (min-width: 600px) {
    .blog-post{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 920px) {
    .blog-post{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .blog-post{
        grid-template-columns: repeat(4, 1fr);
    }
}

section{
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

.title-section h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #7a7a7a;
}

.title-section p{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #7a7a7a;
}

.title-section span{
    color: #359df9;
    font-family: 'Poppins', sans-serif;
}

.title-section::after{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #359df9;
    margin-top: 20px;
}

.card-blogs{
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #fff;
    transition: 0.3s ease-in-out;
}

.card-content{
    padding: 12px 14px;
}

.card-content h2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.card-content h2 a{
    text-decoration: none;
    color: #333;
    transition: 0.2s ease-in-out;
}

.card-content h2 a:hover{
    color: #359df9;
}

.card-content p{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.card-content button{
    padding: 4px 8px;
    margin: 12px 0;
    border: 1px solid #359df9;
    background-color: #359df9;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.card-content button:hover{
    background: transparent;
    color: #333;
}

.card-blogs:hover{
    transform: translate(2%, -2%);
}

/***************CIERRE BLOG NOVEDADES**************/

