//Variables
$color-primary: #359EF9;
$font-main-color: #7a7a7a;
$color-esqueleto: #EFF3F5;
$color-header-footer: #f5f5f5;

//MAPA - Listado

$colors: (
    color-primary: #359EF9,
    font-main-color: #7a7a7a,
    color-esqueleto: #EFF3F5,
    color-header-footer:#f5f5f5,
    color-white: white
);