.whatsapp {
    img {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        text-align: center;
        font-size: 30px;
        z-index: 100;
        margin-top: 13px;
    }
}
